  <!-- ===== Carousel section ===== -->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
        </div>

        <div class="carousel-item carousel-image-2">
        </div>

        <div class="carousel-item carousel-image-3">

        </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <div class="bg" style="width: 77%">
    <!-- ==== About section ==== -->
    <section id="about">
      <div class="container">
        <h1 class="ttl"> SENSE - Welcome!</h1>
        <p class="paragraph"> &nbsp;&nbsp; <span>SENSE:</span> &nbsp; Monitoring weather, air pollution and greenhouse gases with low-cost high-density smart sensors in an
          urban environment.
          For more information, or to participate in the project such as hosting one of these sensors, please <a href="#" class="request_form">register!</a>
        </p>
      </div>
    </section>
    <!-- main content -->
    <section id="main_content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card h-auto">
              <div class="card-header ctitle bg-light ttl">
                Facebook Page
              </div>
              <div class="card-body embed-responsive fb">
                <div class="fb-page" data-href="https://www.facebook.com/SENSEUMD/" data-tabs="timeline" 
                  data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                  data-show-facepile="false">
                  <blockquote cite="https://www.facebook.com/SENSEUMD/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/SENSEUMD/">SENSE UMD</a>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-md-12">
          <div class="card h-auto">
            <div class="card-header ctitle bg-light ttl">
              NEAR REAL-TIME CO2 FORECAST
            </div>
            <div ><img src='./img/aoscLogo.jpg'class="img-fluid"></div>
            <div class="card-body">
              <p>48 Hour CO2 Forecast for Baltimore/Washington area updated every night.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="card h-auto">
            <div class="card-header ctitle bg-light ttl">
              RECENT NEWS
            </div>
            <div class="card-body">
              <div class="news_entry">
                <h6><a href="http://sense.umd.edu/new-sensor-locations/"> New Sensor Locations</a> </h6>
                <p class="news_content">Within the past few weeks, two additional sensors have been installed, one in
                  the heart of Washington, DC and another on the eastern shore of the Chesapeake Bay. The first one, is
                  at the</p>
              </div>
              <div class="news_entry">
                <h6><a href="http://sense.umd.edu/sensor-near-space/"> Sensor Near Space</a> </h6>
                <p class="news_content">Within the past few weeks, two additional sensors have been installed, one in
                  the heart of Washington, DC and another on the eastern shore of the Chesapeake Bay. The first one, is
                  at the</p>
              </div>
              <div class="news_entry">
                <h6><a href="http://sense.umd.edu/congratulations-to-cooper/"> Congratulations to Cooper!</a> </h6>
                <p class="news_content">Within the past few weeks, two additional sensors have been installed, one in
                  the heart of Washington, DC and another on the eastern shore of the Chesapeake Bay. The first one, is
                  at the</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>University of Maryland - AOSC © 2019</p> <br>
      <a href="Dep_Ocean_Science_link">Dept of Atmospheric and Oceanic Science</a>
      <p>Copyright &copy;
        <span id="year"></span> University of Maryland</p>
  
    </footer>
  </div>
  

  </section>

  

