  <div class="bg">

    <!-- News navigation -->
    <div class="newsNav">
        <h3 class="newsDivTtl">News</h3>
        <div class="newsNavSec">
            <h5>Popular Posts</h5>
            <ul>
                <li>New Sensor Locations</li>
                <li>Sensor Near Space</li>
                <li>Congratulations to Cooper!</li>
            </ul>
        </div>

        <div class="newsNavSec">
            <h5>Archives</h5>
            <ul>
                <li>August 2016</li>
                <li>March 2016</li>
                <li>March 2015</li>
                <li>Febuary 2015</li>
                <li>November 2014</li>
                <li>October 2014</li>
                <li>September 2014</li>
                <li>August 2014</li>
            </ul>
        </div>

        <div class="newsNavSec">
            <h5>Categories</h5>
            <ul>
                <li>Driving</li>
                <li>Network</li>
                <li>Outreach</li>
                <li>Sensor</li>
            </ul>
        </div>

    </div>

    <!-- Recent News -->
    <div class="recentNewsContents">
        <h3 class="newsDivTtl">Recent News</h3>
        
        <div class="newsTtl">
            <a href="#">New Sensor Locations</a><br>
            Posted on 2019-09-06 14:41:56 by Cory Martin
        </div>

        <div class="newsTtl">
            <a href="#">Congratulations to Cooper!</a><br>
            Posted on 2019-09-06 14:42:38 by Ning Zeng
        </div>

        <div class="newsTtl">
            <a href="#">Revision 1 Update</a><br>
            Posted on 2019-09-06 14:43:27 by Cory Martin
        </div>

        <div class="newsTtl">
            <a href="#">Continued Testing</a><br>
            Posted on 2019-09-06 14:44:31 by Cory Martin
        </div>
        
    </div>

  </div>
  <script src="./js/main.js"></script>